<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uoquo.platform.system.mapper.LicenseRecordMapper">

  <resultMap id="BaseResultMap" type="com.uoquo.platform.system.model.pojo.LicenseRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="license_info" jdbcType="VARCHAR" property="licenseInfo" />
    <result column="system_version" jdbcType="VARCHAR" property="systemVersion" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="activation_code" jdbcType="VARCHAR" property="activationCode" />
    <result column="valid_from" jdbcType="DATE" property="validFrom" />
    <result column="valid_expire" jdbcType="DATE" property="validExpire" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_current" jdbcType="BOOLEAN" property="isCurrent" />
    <result column="import_result" jdbcType="BOOLEAN" property="importResult" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <resultMap id="DtoResultMap" type="com.uoquo.platform.system.model.dto.LicenseRecordDto">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="license_info" jdbcType="VARCHAR" property="licenseInfo" />
    <result column="system_version" jdbcType="VARCHAR" property="systemVersion" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="activation_code" jdbcType="VARCHAR" property="activationCode" />
    <result column="valid_from" jdbcType="DATE" property="validFrom" />
    <result column="valid_expire" jdbcType="DATE" property="validExpire" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_current" jdbcType="BOOLEAN" property="isCurrent" />
    <result column="import_result" jdbcType="BOOLEAN" property="importResult" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List">
    id, license_info, system_version, serial_no, activation_code,
    valid_from, valid_expire, create_user, create_time,
    is_current, import_result, fail_reason, description
  </sql>

  <insert id="insert" parameterType="com.uoquo.platform.system.model.pojo.LicenseRecord">
    INSERT INTO sys_license_record (
      id, license_info, system_version, serial_no, activation_code,
      valid_from, valid_expire, create_user, create_time,
      is_current, import_result, fail_reason, description)
    VALUES (
      #{id,jdbcType=VARCHAR}, #{licenseInfo,jdbcType=VARCHAR},
      #{systemVersion,jdbcType=VARCHAR}, #{serialNo,jdbcType=VARCHAR}, #{activationCode,jdbcType=VARCHAR},
      #{validFrom,jdbcType=DATE}, #{validExpire,jdbcType=DATE},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{isCurrent,jdbcType=BOOLEAN}, #{importResult,jdbcType=BOOLEAN},
      #{failReason,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>

  <update id="clearAllCurrent">
    UPDATE sys_license_record SET is_current = false WHERE is_current = true
  </update>

  <select id="selectByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_license_record
    ORDER BY create_time DESC
  </select>

</mapper>
